<style>
  * {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    box-sizing: border-box;
    font-size: 21px;
  }
  .qc {
    padding-top: 7px;
    padding-left: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 480px;
    height: 47px;
  }
  .q {
    vertical-align: middle;
    flex-shrink: 1;
    max-width: 441px;
    font-size: 21px;
    line-height: 23px;
  }
  .bullet {
    margin-right: 5px;
    height: 37px;
    width: 25px;
    background-image: url('circle.svg');
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .result_text {
    padding: 7px;
  }
  .result {
    padding-top: 7px;
    padding-left: 7px;
    font-size: 32px;
  }
  .container {
    padding: 7px;
  }
  h1 {
    font-size: 45px;
    text-align: center;
  }
</style>
<div style="width: 480px; height: 320px; background: url('bg2.png')">
  <div class="title" style="padding: 15px; padding-bottom: 0; height: 81px;"></div>
  <div class="qc"><div class="bullet"></div> <div class="q"></div></div>
  <div class="qc"><div class="bullet"></div> <div class="q"></div></div>
  <div class="qc"><div class="bullet"></div> <div class="q"></div></div>
  <div class="qc"><div class="bullet"></div> <div class="q"></div></div>
  <div class="qc"><div class="bullet"></div> <div class="q"></div></div>
<!--  <div class="result">
    Сумма набранных баллов:
  </div>
  <div class="result_text">->>
<!--    <p>
      Если количество баллов совпадает с Вашим возрастом, все в порядке.
    </p>
    <p>
      Для тех, кто предпочитает творческую деятельность, желательно,
      чтобы психологический возраст не опережал паспортный.
    </p>-->
<!--    <p>
      А если после 30 лет он "отстанет", то это будет означать, что вы
      в хорошей форме, свободны от стереотипов, а Ваши возможности
      далеко не исчерпаны.
    </p>
    <p>
      Когда Ваш психологический возраст "идет" немного впереди - тоже
      неплохо: Вы успешно справитесь со стандартными действиями,
      требующими четкости и пунктуальности.
    </p>-->
<!--<p>
      Плохо, если психологический возраст значительно опережает
      указанный в паспорте. Это говорит о том, что Вы плохо использовали
      свой "начальный капитал". Сядьте и поразмышляйте о прожитых
      годах. Может быть, Вам удастся, пока не поздно, понять причины
      Вашего быстрого психологического старения и то, почему в душе
      Вашей царят безразличие и усталость?
    </p>-->
    <!-- </div> -->
<!--  <div class="container">
    <h1>
      Каков ваш <br>внутренний возраст?
    </h1>
  </div>-->
  
</div>
<button onclick="ch(-1)"><<</button><button onclick="ch(1)">>></button>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  var dta = [
   {
      "question":"Вы опаздываете и находитесь неподалеку от автобусной остановки. Подходит автобус. Что Вы сделаете?",
      "answers":[
         "Побегу, чтобы успеть.",
         "Буду идти как можно быстрее.",
         "Буду идти немного быстрее, чем обычно.",
         "Буду идти, как и шел.",
         "Посмотрю, не идет ли следующий автобус, а потом решу, что делать."
      ]
   },
   {
      "question":"Ваше отношение к моде:",
      "answers":[
         "Признаю и действую, чтобы соответствовать ей.",
         "Признаю то, что мне подходит.",
         "Не признаю современные экстравагантные модели.",
         "Не признаю современную моду вообще.",
         "Признаю или отвергаю: смотрю по настроению."
      ]
   },
   {
      "question":"В свободное время Вы охотнее всего:",
      "answers":[
         "Проводите время с друзьями.",
         "Смотрите телевизор.",
         "Читаете художественную литературу.",
         "Разгадываете кроссворды.",
         "Занимаетесь чем угодно."
      ]
   },
   {
      "question":"На Ваших глазах совершается явная несправедливость. Ваши действия:",
      "answers":[
         "Сразу постараюсь восстановить справедливость всеми доступными средствами.",
         "Встану на сторону пострадавшего и попытаюсь ему помочь.",
         "Постараюсь восстановить справедливость в рамках закона.",
         "А что можно сделать? Осужу про себя оче-редную несправедливость и продолжу свои дела.",
         "Вмешаюсь в ситуацию, не высказывая своего мнения."
      ]
   },
   {
      "question":"Когда Вы слушаете современную молодежную музыку, то:",
      "answers":[
         "Приходите в восторг.",
         "Думаете, что этим должны \"переболеть\".",
         "Раздражаетесь и выражаете протест.",
         "Не признаете этот шум и грохот.",
         "Считаете, что на вкус и цвет товарища нет."
      ]
   },
   {
      "question":"Вы находитесь в дружеской компании. Что для Вас важно?",
      "answers":[
         "Возможность продемонстрировать свои способности.",
         "Сделать так, чтобы люди не забыли, с кем имеют дело.",
         "Соблюсти приличия.",
         "Не выделяться.",
         "Вести себя в соответствии с нормами этой компании."
      ]
   },
   {
      "question":"Какая работа Вам нравится?",
      "answers":[
         "Содержащая элементы неожиданности и риска.",
         "Разная, но не монотонная.",
         "Такая, где можно использовать свои опыт и знания.",
         "Нетрудная.",
         "Смотря по настроению."
      ]
   },
   {
      "question":"Насколько Вы предусмотрительны?",
      "answers":[
         "Склонен приниматься за дела, не раздумывая.",
         "Предпочитаю сначала действовать, а уже потом рассуждать.",
         "Предпочитаю не участвовать в делах, пока не выяснены хотя бы основные их последствия.",
         "Предпочитаю участвовать только в таких делах, где успех гарантирован.",
         "Отношусь к делам в зависимости от ситауции."
      ]
   },
   {
      "question":"Доверчивы ли Вы?",
      "answers":[
         "Доверяю некоторым людям.",
         "Доверяю многим людям.",
         "Не доверяю многим.",
         "Не доверяю никому.",
         "Всё зависит от того, с кем я имею дело."
      ]
   },
   {
      "question":"Ваше настроение?",
      "answers":[
         "Преобладает оптимистическое.",
         "Часто оптимистическое.",
         "Часто пессимистическое.",
         "Преобладает пессимистическое.",
         "В зависимости от обстоятельств."
      ]
   }
  ];
  var i = 0;
  function ch(k) {
    i += k;
    if (i >= dta.length) i = dta.length - 1;
    if (i < 0) i = 0;
    draw(i);
  }
  function draw(i) {
    $('.title').text(dta[i].question);
    $('.q').each(function (n, q) { $(q).text(dta[i].answers[n]) });
  }
  draw(0);
</script>
